**/.DS_Store

.config/nvim/lazy-lock.json
.config/tmux/plugins/*
.ssh/controlmasters/*
.config/zsh/.zcompdump

!.config/tmux/plugins/.gitkeep
!.ssh/controlmasters/.gitkeep

scripts/install-fonts/nerd-fonts-tmp
scripts/install-fonts/pop-os-fonts-tmp

**/.zsh_history
**/.env.local
**/.env.tmp
**/.zcompdump*

.vscode/
.idea/
*.swp
*.swo

volumes/
