.config/nvim/lazy-lock.json
.config/tmux/plugins/*
!.config/tmux/plugins/.gitkeep
.ssh/controlmasters/*
!.ssh/controlmasters/.gitkeep
scripts/install-fonts/nerd-fonts-tmp
scripts/install-fonts/pop-os-fonts-tmp
**/.zsh_history
